.assignButton {
    background: #19aa31;
    color: white;

    font-weight: bold;

    padding: 0;
    margin: 0;
    width: 104px;
}

.assignButton:hover {
    background: white;
    color: #19aa31;

    border: 1px solid #19aa31;


}

.employeeSelect {
    background: white;
}

.employeeInputText {}