.delivery-card {


    border: black 1px solid;
    width: 50vw;
    height: 536px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;

    @media (max-width: 800px) {
        width: 100vw;
    }

}