.deliveryTable {
    width: 100%;
    margin: 2rem;
    border-collapse: collapse;
}

.deliveryTable th,
.deliveryTable td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.tableColumns th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

.deliveryTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.deliveryTable tbody tr:hover {
    background-color: #f1f1f1;
}


#removeEmployeeButton,
#editEmployeeButton {
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

#removeEmployeeButton {
    background-color: #731B1B;

    &:hover {
        background-color: #d32f2f;
    }
}

#editEmployeeButton {
    background: #1976d2;

    &:hover {
        background: #2196f3;
    }
}