.sheetHeaderDescription,
.serviceDescription {
    font-weight: bolder;
    font-size: 1em;
}

.textArea {
    margin: 12px 0;
    border: 2px solid #0d9c44;

    &:focus {
        outline: none;
    }
}

.observationTrigger {

    width: 32px;
    height: 32px;
    border-radius: 16%;

    // background: white;
    color: white;

    &:hover {
        scale: 1.3;
        transition: ease-in-out 0.3s;
    }
}