.cardContent {
    padding: 0 24 px 0 0;
}

.serviceTable {

    min-height: 352px;
}

.upperTableSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.ActionButtons {
    display: flex;
    flex-direction: column;


    align-items: center;
    justify-content: center;
}

.firstActionButtonsRow {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}