.toastSuccess {
    background-color: #4caf50;
}

.toastError {
    background-color: #f44336;
}

.toastInfo {
    background-color: #2196f3;
}

.toastTitle {
    font-weight: bold;
    color: white;
}

.toastDescription {
    color: white;
}