.finishedDeliveryCard {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px;


    @media (max-width: 1023px) {
        width: 75vw;
    }

}

.cardTitle {
    text-align: center;
    margin: 0 0 8px 0;
}