.cardContent {
    padding: 0 24 px 0 0;
}

.employeeTable {
    min-height: 352px;
}

.upperTableSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}