.removeButton {
    border: none;
    font-size: 14px;
    margin-left: 10px;

    &:hover {
        background-color: #d32f2f;
        border: none;
        color: white;
    }

    &:active {
        background-color: #b71c1c;
        border: none;
    }
}